---
page_title: "triton_fabric Resource - triton"
description: |-
    The `triton_fabric` resource represents an SSH fabric for a Triton account.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# triton_fabric (Resource)

The `triton_fabric` resource represents an fabric for a Triton account. The fabric is a logical set of interconnected switches.

## Example Usage

### Create a fabric

{{tffile "examples/resources/fabric/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (String, Required, Change forces new resource) Network name.

* `description` - (String, Optional, Change forces new resource) Optional description of network.

* `subnet` - (String, Required, Change forces new resource) CIDR formatted string describing network.

* `provision_start_ip` - (String, Required, Change forces new resource) First IP on the network that can be assigned.

* `provision_end_ip` - (String, Required, Change forces new resource) Last assignable IP on the network.

* `gateway` - (String, Optional, Change forces new resource) Optional gateway IP.

* `resolvers` - (List, Optional) Array of IP addresses for resolvers.

* `routes` - (Map, Optional, Change forces new resource) Map of CIDR block to Gateway IP address.

* `internet_nat` - (Bool, Optional, Change forces new resource) If a NAT zone is provisioned at Gateway IP address. Default is `true`.

* `vlan_id` - (Int, Required, Change forces new resource) VLAN id the network is on. Number between 0-4095 indicating VLAN ID.

## Attribute Reference

The following attributes are exported:

* `id` - (string) - The identifier representing the network in Triton.
* `name` - (String) - Network name.
* `public` - (Bool) - Whether or not this is an RFC1918 network.
* `fabric` - (Bool) - Whether or not this network is on a fabric.
* `description` - (String) - Optional description of network.
* `subnet` - (String) - CIDR formatted string describing network.
* `provision_start_ip` - (String) - First IP on the network that can be assigned.
* `provision_end_ip` - (String) - Last assignable IP on the network.
* `gateway` - (String) - Optional gateway IP.
* `resolvers` - (List) - Array of IP addresses for resolvers.
* `routes` - (Map) - Map of CIDR block to Gateway IP address.
* `internet_nat` - (Bool) - If a NAT zone is provisioned at Gateway IP address.
* `vlan_id` - (Int) - VLAN id the network is on. Number between 0-4095 indicating VLAN ID.

## Import

`triton_fabric` resources can be imported using the fabric's VLAN ID and fabric UUID separated by a dot (`.`), for example:

```shell
terraform import triton_fabric.example 100.8743e3d2-c91b-4545-8882-78cfafb116de
```
