---
page_title: "triton_account Data Source - triton"
description: |-
  The `triton_account` data source queries Triton for Account information.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# triton_account (Data Source)

The `triton_account` data source queries Triton for Account information.

~> **NOTE:** This data source uses the name of the `account` currently configured in the [Triton provider](https://registry.terraform.io/providers/TritonDataCenter/triton/latest/docs).

## Example Usage

Find current Account unique identifier:

{{tffile "examples/data-sources/account/example_1.tf"}}

## Argument Reference

There are no arguments available for this data source.

## Attribute Reference

The following attributes are supported:

* `id` - (string) The unique identifier representing the Account in Triton.

* `login` - (string) The login name associated with the Account.

* `email` - (string) An e-mail address that is current set in the Account.

* `cns_enabled` - (boolean) Whether the Container Name Service (CNS) is enabled for the Account.
