---
page_title: "Triton: triton_network"
sidebar_current: "docs-triton-datasource-network"
description: |-
  The `triton_network` data source queries Triton for Network information
  (e.g., Network ID, etc.) based on the name of the Network.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# triton_network

The `triton_network` data source queries Triton for Network information (e.g., Network ID, etc.) based on the name of the Network.

## Example Usage

Find the Network ID of the `My-Fabric-Network` network.

{{tffile "examples/data-sources/network/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (string) **Required.** The name of the Network.

## Attribute Reference

The following attributes are supported:

* `id` - (string) The unique identifier of the Network.

* `public` - (boolean) Whether this Network is a public or private [RFC1918](https://tools.ietf.org/html/rfc1918) network.

* `fabric` - (boolean) Whether this Network is created on a [Fabric](https://docs.tritondatacenter.com/public-cloud/network/sdn).
