---
page_title: "Triton: Volume Data Source"
sidebar_current: "docs-triton-datasource-volume"
description: |-
    The `triton_volume` data source queries the Triton API for an existing volume.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# triton\_volume

The `triton_volume` data source represents a storage volume instance running in Triton.

## Example Usage

Find the ID of a volume with a given name:

{{tffile "examples/data-sources/volume/example_1.tf"}}

## Argument Reference

These arguments can be supplied when querying for an existing volume:

* `name` - (string) The name of the volume.

* `size` - (integer) The size of the volume.

* `state` - (string) The state of the volume (one of *creating*, *ready*, *deleting*, *deleted* or *failed*).

## Attribute Reference

The following attributes are exported on a volume data source:

* `id` - (string) - The identifier representing the volume in Triton.
* `filesystem_path` - (string) - The NFS path that the volume can be referenced through.
* `networks` - (list of strings) - The ID of the networks which the volume is attached to, and thus over which it can be accessed.
* `state` - (string) - The current state of the volume. Can be one of *creating*, *ready*, *deleting*, *deleted* or *failed*.
* `tags` - (map) - A mapping of tags the volume is using.
* `type` - (string) - The type of the volume.
